services:
  sentence-diff:
    build:
      context: .
      dockerfile: Dockerfile
    command: /bin/sh -c "while sleep 1000; do :; done"
    volumes:
      - ../:/workspaces
      - sentence-diff-volume:/workspaces/node_modules
volumes:
  sentence-diff-volume:
